#mongo
MONGO_PROTOCOL=mongodb://
MONGO_URN=mongo-primary:27017,mongo-secondary:27018/kartoffelMock?replicaSet=rs0

DB_NAME=kartoffelMock

#collectionNmaes
DENORMALIZED_ENTITY_COLLECTION_NAME=denormalizedentity
ORGANIZATION_GROUP_COLLECTION_NAME=organizationgroup
DIGITAL_IDENTITY_COLLECTION_NAME=digitalidentity
ENTITY_COLLECTION_NAME=entity
ROLE_COLLECTION_NAME=role

MONGODB_USER_NAME=nitro
MONGODB_PASSWORD=password123

#rabbit
RABBIT_URI=amqp://localhost
RABBIT_QUEUE_NAME=mongo-to-rabbit-q

#mocks
IS_MOCK=true

#config
PORT=3001