#mongo
MONGO_PROTOCOL=mongodb://
MONGO_URN=mongo-primary:27017,mongo-secondary:27018/kartoffelMock?replicaSet=rs0

DB_NAME=kartoffelMock

#collectionNames
DENORMALIZED_OG_COLLECTION_NAME=denormalizedOrganizationGroup
DENORMALIZED_DI_COLLECTION_NAME=denormalizedDigitalIdentity
DENORMALIZED_ENTITY_COLLECTION_NAME=denormalizedEntity
DENORMALIZED_ROLE_COLLECTION_NAME=denormalizedRole
ORGANIZATION_GROUP_COLLECTION_NAME=organizationGroup
DIGITAL_IDENTITY_COLLECTION_NAME=digitalIdentity
ENTITY_COLLECTION_NAME=entity
ROLE_COLLECTION_NAME=role

MONGODB_USER_NAME=nitro
MONGODB_PASSWORD=password123

#rabbit
RABBIT_URI=amqp://localhost
RABBIT_QUEUE_NAME=mongo-to-rabbit-q

#mocks
IS_MOCK=true

#recovery run
IS_RECOVERY_SCRIPT=false
RECOVERY_COLLECTIONS_ARRAY=entities,digitalidentities,groups,roles

#config
PORT=3001
PREFETCH_AMOUNT=20
API_PASSWORD=password123
